body{
	margin: 0;
	padding: 0;
}

header{
	padding: 0 130px;
}


section{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
}

article{
	position: relative;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 25px 0 25px 25px;
}

.img__small{
	width: 10vw;
	max-width: 250px;
    min-width: 150px;
	height: 200px;
	min-height: 200px;
	cursor: pointer;
	object-fit: contain;
}

.description{
	display: none;
	text-align: center;	
}

article:hover{
	position: fixed;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 15px 3px rgba(0,0,0,.5);
	z-index: 4;
}

input:checked + article:hover {
    position: static;
    padding: 0;
    background: unset;
    border-radius: 0;
    box-shadow: unset;
}


article:hover + input + article{
	margin-left: 304px;
}

input:checked ~ input ~ article{
    margin-left: 25px;
}

article:hover > .description{
	display: block;
	width: 10vw;
	max-width: 250px;
    min-width: 150px;
    margin: 0 auto;
    padding: 10px;
}

input:checked + article .description {
    display: none;
}

article:hover > .img__small{
	width: 310px;
	z-index: 1;
}

section input[name=veg]{
	display: none;
}

.modal{
	display: none;
}

input[name=veg]:checked ~ .modal{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	display: block;
}

input[id=veg1]:checked ~ #mod1,
input[id=veg2]:checked ~ #mod2,
input[id=veg3]:checked ~ #mod3,
input[id=veg4]:checked ~ #mod4,
input[id=veg5]:checked ~ #mod5,
input[id=veg6]:checked ~ #mod6,
input[id=veg7]:checked ~ #mod7,
input[id=veg8]:checked ~ #mod8,
input[id=veg9]:checked ~ #mod9,
input[id=veg10]:checked ~ #mod10{
	position: fixed;
	display: block;
	top: 50%;
	left: 50%;
	z-index: 20;
	transform: translate(-50%, -50%);
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.75);
	width: 35vw;
    height: unset;
    min-height: unset;
    max-width: 600px;
    max-height: 450px;
    object-fit: contain;
}

.modal-close::before, .modal-close::after {
    content: '';
    position: absolute;
    top: 15%;
    left: 50%;
    width: 20px;
    height: 5px;
	background-color: #fff;
}

.modal-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    z-index: 25;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

#close-modal:checked ~ .modal, 
#close-modal:checked ~ .modal-close {
    display: none;
}


input[name=slider]{
	display: none;
}

#ctrl1:checked ~ section article {
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

#ctrl2:checked ~ section article {
	transform: translateX(-850px);
	transition: transform 0.2s linear;
}

#ctrl3:checked ~ section article {
	transform: translateX(-1650px);
	transition: transform 0.2s linear;
}

.controls{
    margin: 0 auto;
    width: 100px;
    text-align: center;
}

.controls label{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 5px;
    box-sizing: border-box;
}

.controls label:hover {
    border: 1px solid #ffba00;
}

#ctrl1:checked ~ section .controls label[for="ctrl1"] {
    background-color: #ffba00;
}


#ctrl2:checked ~ section .controls label[for="ctrl2"] {
    background-color: #ffba00;
}

#ctrl3:checked ~ section .controls label[for="ctrl3"] {
    background-color: #ffba00;
}

.modal_img{
	display: none;
}
